@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Animation for spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}